*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    background: linear-gradient(to right, #ffffff, #878787);
}
.Poznaj
{
    font-size: 2.5rem;
    margin-top: 60px;
    text-align: center;
}
.Wpis 
{
    font-size: 2rem; 
    max-width: 800px;
    width: 80%;
    margin: 120px auto 0 auto; 
    line-height: 1.6; 
    padding: 20px 40px; 
    background: rgb(205, 204, 204);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 12px;
}
.Wpis:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
@media (max-width: 600px) 
{
    .Poznaj h1 {
        font-size: 2rem;
        margin-top: 40px;
    }
    .Wpis {
        font-size: 1.2rem;
        padding: 0 15px;
    }
}